<div class="col-xs-12">
    <br>
  <%= form_tag post_path(post), method: :get do %>
    <%= button_tag class: 'btn btn-primary btn-block' do %>
      <%= fa_icon 'comment' %> Comments (<%= post.comments.count %>)
    <% end %>
  <% end %>
</div>
