<%= render 'shared/categories_list', categories: @categories, resource: @category %>
<% if @posts.present? %>
  <% @posts.each do |post| %>
  <div id="post-<%= post.id %>" class="post">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 well">
        <%= render post, button: true, remote: false %>
      </div>
    </div>
  </div>
    <% end %>
<% else %>
  <%= render('shared/no_resource', resources: 'Posts') %>
<% end %>
